@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.menu, .menuIcon{
    display: none;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: .2rem 7rem;
    height: 120px;
    position: relative;
    align-items: center;
    z-index: 2;
}
.navbar ul li{
    list-style: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.rightNavbar{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.leftNavbar{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.logo{
    margin: auto;
    width: 10%;
}



.logo img{
   width: 100%;
}
.search{
    display: flex;
    align-items: center;
    gap: 1rem;
   
}

.search input{
   background: none;
   border: none;
   
}

.search input::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
 }

 @media only screen and (max-width: 760px){
    .leftNavbar, .rightNavbar{
        display: none;
    }

    .logo{
        width: 100%;
    }
    
    .logo img{
       width: 23%;
    }

    .navbar{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
        padding: .5rem 2rem;
        height: 110px;
        position: relative;

        z-index: 2;
    }


    .menuIcon img{
        width: 40px;
    }

 }