.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
}

.main h1{
    color: white;
    margin-bottom: 2rem;
}

.doctorsContainer{
   display: grid;
   grid-template-columns: 250px 250px 250px 250px;
   justify-items: stretch;
   justify-content: space-between; 
   align-content: stretch;
   
}

@media only screen and (max-width: 760px){

    .doctorsContainer{
        display: grid;
        grid-template-columns: 250px ;
        justify-items: stretch;
        justify-content: space-between; 
        align-content: stretch;
     }

     .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0 5rem;
    }
    .main h1{
        width: 100;
        color: white;
        margin-bottom: 2rem;
    }

 }